.header1 {
  width: 100%;
  position: fixed;
  z-index: 9999;
}
.header1 span {
  font-size: 13px;
  font-weight: 450;
}
.item-header-1 {
  padding: 5.5px 32px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header1 .header-content {
  display: flex;
  align-items: center;
}
.header1 .item-header-1 span {
  color: #929292;
}
.header1 .item-header-1 span:hover {
  color: #03ac0e;
  cursor: pointer;
}
.header1 .item-header-1 img {
  width: 14px;
  margin-right: 5px;
}
.header1 .header-menu span {
  margin-right: 24px;
}
